---
/**
 * Sights page - Browse all Swiss tourism sights
 * Uses SBB Lyne Design System
 */
import BaseLayout from '../layouts/BaseLayout.astro';
import SbbHeader from '../components/SbbHeader';
import SightsContainer from '../components/Sights/SightsContainer';
import LanguageSync from '../components/LanguageSync';
---

<BaseLayout title="Sehenswürdigkeiten">
  <LanguageSync client:load titleKey="pages.sights" />
  <div class="flex flex-col h-screen">
    <SbbHeader client:load />

    <div class="flex-1 overflow-hidden">
      <SightsContainer client:load />
    </div>
  </div>
</BaseLayout>
